<app-header titulo="Progress bar y Range"></app-header>

<ion-content>
  
  <ion-progress-bar [value]="porcentaje"></ion-progress-bar>

  <ion-list>
    <ion-item>
      <ion-label>0</ion-label>
      <ion-range
        min="1" max="100"
        pin="true"
        color="tertiary"
        (ionChange)="cambioRango($event)">
      </ion-range>
      
      <ion-label>100</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
