<app-header titulo="Grid y Row"></app-header>

<ion-content fullscreen>
  <ion-grid fixed>
    <ion-row>
      <ion-col size-lg="3" size-md="4" size-sm="6">
        <ion-card size="12"
                  *ngFor="let i of [1,1,1,1,1,1,1,1,1,1,1,1]">
          <ion-img src="assets/shapes.svg"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
            <ion-card-title>Awesome Title</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, hic, dolores tempora nobis incidunt natus eaque expedita eius, illum illo quibusdam praesentium amet officia in quisquam atque? Beatae, iste accusantium.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
