<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    
    <ion-title>Lista - Reorder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    
    <ion-reorder-group (ionItemReorder)="doReorder($event)" [disabled]="false">
      <ion-item *ngFor="let personaje of personajes">
        <ion-label>{{ personaje }}</ion-label>
        
        <ion-reorder slot="end"></ion-reorder>
        
      </ion-item>
    </ion-reorder-group>

  </ion-list>

  <ion-button (click)="onClick()" expand="full">
    guardar
  </ion-button>

</ion-content>
