<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <!-- <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button> -->
        <ion-menu-button  color="primary"
                          menu="primerMenu"></ion-menu-button>
    </ion-buttons>

    <ion-title>Componentes de Ionic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item *ngFor="let c of components | async"
              [routerLink]="c.redirectTo" detail>
      <ion-icon slot="start" color="primary" [name]="c.icon"></ion-icon>
      <ion-label>{{ c.name }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
