<app-header [titulo]="titulo || 'Alert Page'"></app-header>

<ion-content>
  <ion-button (click)="presentAlert()"
              color="primary"
              expand="full">
    Alert
  </ion-button>

  <ion-button (click)="presentAlertPrompt()"
              color="secondary"
              expand="full">
    Formulario
  </ion-button>

</ion-content>
