<app-header titulo="card"></app-header>

<ion-content>
  <ion-card mode="ios" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios">
    <ion-item color="primary">
      <ion-icon color="light" slot="start" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, quaerat, reiciendis aut tenetur quidem accusamus esse id dolores excepturi quo quod, aperiam aliquid ut laborum. Culpa delectus repellendus dicta laboriosam.
    </ion-card-content>

  </ion-card>

  <ion-card mode="ios">
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati reprehenderit aliquam maiores sed commodi blanditiis repudiandae exercitationem corrupti impedit non officiis alias, ipsa soluta quo quia consequatur inventore dignissimos ratione?
    </ion-card-content>
  </ion-card>



</ion-content>
