<ion-menu side="start" menuId="primerMenu" contentId="principal">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle *ngFor="let c of componente | async"
                       autoHide="false">
        <ion-item [routerLink]="c.redirectTo">
        <ion-icon slot="start" color="primary" [name]="c.icon"></ion-icon>
        <ion-label>
          {{ c.name }}
        </ion-label>
        </ion-item>
      </ion-menu-toggle>

      
    </ion-list>
  </ion-content>
</ion-menu>