<ion-header class="ion-no-border" [ngClass]="ocultar">
  <ion-toolbar>
    <img src="/assets/slides/user-6.svg" class="avatar animated fadeIn" alt="">
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides pager="true" class="slide-full">
    <ion-slide *ngFor="let slide of slides">
      <ion-card mode="ios">
        <img [src]="slide.img" class="slide-image" alt="">
        <ion-card-header>
          <ion-card-title>{{ slide.titulo }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{ slide.desc }}
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-button expand="full" fill="clear" color="primary" (click)="onClick()">
        Comenzar
      </ion-button>
    </ion-slide>

  </ion-slides>

</ion-content>
