<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{ nombre }} -- {{ pais }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button color="primary" expand="full" (click)="salirSinArgumentos()">
    Salir sin argumentos
  </ion-button>

  <ion-button color="secondary" expand="full" (click)="salirConArgumentos()">
    Salir con argumentos
  </ion-button>


</ion-content>
